.dialog-overlay {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.342);
    z-index: 1;
}

.dialog {
    position: fixed;
    top: 10%;
    left: 20%;
    right: 20%;
    width: 60%;
    min-height: 320px;
    background-color: rgb(203, 245, 179);
    z-index: 2;
}